.main_container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.navbar_brand_image {
    height: 40px;
}

.navbar_link_item {
    color: rgb(159, 32, 137);
    font-weight: 500;
    font-size: 16px;
}

.navbar-toggler {
    border: 0;
    box-shadow: none;
}