<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center login-form-container py-5">
                <div class="bg-white shadow-sm login-form-main">
                    <div>
                        <img src="../../../assets/images/login-form-image/meesho-login-form-banner.webp"
                            class="img-fluid object-fit-cover login-form-banner" alt="no-image" />
                    </div>

                    <!-- signup form start here -->
                    <ng-container *ngIf="!formScreen">
                        <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
                            <!-- signup form heading -->
                            <div>
                                <h6 class="mb-4 text-center login-form-header">
                                    Sign Up to View Your Profile
                                </h6>
                            </div>
                            <!-- signup name form field  -->
                            <mat-form-field class="form-group w-100" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input type="text" name="name" formControlName="name" placeholder="Enter your name"
                                    oninput="this.value = this.value.replace(/^[0-9]*$/, '')" matInput />
                                <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                                    Name is required*
                                </mat-error>
                            </mat-form-field>

                            <!-- signup email form field  -->
                            <mat-form-field class=" form-group w-100" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="text" name="email" formControlName="email" placeholder="Enter your email"
                                    matInput />
                                <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                                    Email is required*
                                </mat-error>
                                <mat-error *ngIf="signupForm.get('email')?.hasError('pattern')">
                                    Email is Invalid*
                                </mat-error>
                            </mat-form-field>

                            <!-- signup mobile number form field  -->
                            <mat-form-field class="form-group w-100" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input type="text" name="mobileNumber" formControlName="mobileNumber" [maxlength]="10"
                                    oninput="this.value = this.value.replace(/[^0-9]/g,'')" [minlength]="10"
                                    placeholder="Enter your mobile number" matInput />
                                <mat-error *ngIf="signupForm.get('mobileNumber')?.hasError('required')">
                                    Mobile Number is required*
                                </mat-error>
                            </mat-form-field>

                            <!-- signup password form field  -->
                            <mat-form-field class="form-group w-100" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [type]="isSignupPassword ? 'text' : 'password'" name="password" [maxlength]="6"
                                    oninput="this.value = this.value.replace(/[^0-9]/g,'')" [minlength]="6"
                                    formControlName="password" placeholder="Enter your password" matInput />
                                <mat-icon (click)="toggleSignupPassword()" style="cursor: pointer;" matSuffix>
                                    {{isSignupPassword ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                                    password is required*
                                </mat-error>
                            </mat-form-field>

                            <!-- signup button -->
                            <button class="btn text-white w-100 login-custom-button" type="submit"
                                [disabled]="signupForm.invalid" mat-raised-button>Signup</button>

                            <a class="auth-toggle-url" (click)="authToggleScreen()">Already have account? Click
                                to login</a>
                        </form>
                    </ng-container>
                    <!-- signup form start here -->

                    <!-- login form start here -->
                    <ng-container *ngIf="formScreen">
                        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                            <!-- login form heading -->
                            <div>
                                <h6 class="mb-4 text-center login-form-header">
                                    Login to View Your Profile
                                </h6>
                            </div>

                            <!-- login mobile number form field  -->
                            <mat-form-field class="form-group w-100" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input type="text" name="mobileNumber" formControlName="mobileNumber" [maxlength]="10"
                                    oninput="this.value = this.value.replace(/[^0-9]/g,'')" [minlength]="10"
                                    placeholder="Enter your mobile number" matInput />
                                <mat-error *ngIf="signupForm.get('mobileNumber')?.hasError('required')">
                                    Mobile Number is required*
                                </mat-error>
                            </mat-form-field>

                            <!-- login password form field  -->
                            <mat-form-field class="form-group w-100" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [type]="isSignupPassword ? 'text' : 'password'" name="password" [maxlength]="6"
                                    oninput="this.value = this.value.replace(/[^0-9]/g,'')" [minlength]="6"
                                    formControlName="password" placeholder="Enter your password" matInput />
                                <mat-icon (click)="toggleLoginPassword()" style="cursor: pointer;" matSuffix>
                                    {{isLoginPassword ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                                    Password is required*
                                </mat-error>
                            </mat-form-field>

                            <!-- login button -->
                            <button class="btn text-white w-100 login-custom-button" [disabled]="loginForm.invalid"
                                mat-raised-button>Login</button>

                            <a class="auth-toggle-url" (click)="authToggleScreen()">Don't have account? Click to
                                signup</a>
                        </form>
                    </ng-container>
                    <!-- login form start here -->
                </div>
            </div>
        </div>
    </div>
</div>