.login-form-container {
    background-color: white;

    .login-form-main {
        width: 430px;
        border-radius: 8px;
        border: 1px solid #ddd;

        .login-form-banner {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 200px;
            width: 100%;
        }

        .form {
            padding: 34px 34px;

            .login-form-header {
                color: rgb(53, 53, 67);
                font-weight: 500;
                font-size: 20px;
            }

            .login-custom-button {
                background-color: rgb(159, 32, 137);
                font-weight: 500;
                font-size: 18px;
                border-radius: 4px;
                padding: 8px 0;
            }

            .auth-toggle-url {
                color: rgb(159, 32, 137);
                text-decoration: none;
                text-align: center;
                display: block;
                margin-top: 6px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}