<div class="d-flex justify-content-center align-items-center h-100 login-form-container">
    <div class="bg-white shadow-sm login-form-main">
        <div>
            <img src="../../../assets/images/login-form-image/meesho-login-form-banner.webp"
                class="img-fluid object-fit-cover login-form-banner" alt="no-image" />
        </div>

        <form class="form">
            <!-- login form heading -->
            <div>
                <h6 class="mb-2 login-form-header">
                    Sign Up to view your profile
                </h6>
            </div>
            <!-- login phonenumber input  -->
            <div class="form-group mt-4">
                <label class="form-label">Mobile Number</label>
                <input type="text" name="number" placeholder="Enter your mobile number"
                    class="form-control shadow-none bg-white login-form-mobile-number-input">
            </div>

            <button type="button" class="btn text-white w-100 login-custom-button">Continue</button>
        </form>
    </div>
</div>