<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 col-lg-6 p-5" style="background-color: rgb(248, 248, 255);">
            <h1 class="meesho_home_banner_heading">
                <div>Saal Ke</div>
                Sabse Kam Daam
            </h1>
            <div class="d-flex gap-2 bg-white flex-wrap mt-3 p-2 rounded-3">
                <div class="d-flex align-items-center gap-2 px-3">
                    <img src="../../../assets/images/pages/home/free_delivery_icon.svg"
                        class="img-fluid border rounded-pill" alt="Free Delivery Image">
                    <p class="m-0 fw-bolder home_banner_content">
                        <span class="d-block">Free</span>
                        Delivery
                    </p>
                </div>
                <div class="d-flex align-items-center gap-2 px-3">
                    <img src="../../../assets/images/pages/home/cash_on_delivery.svg"
                        class="img-fluid border rounded-pill" alt="COD Image">
                    <p class="m-0 fw-bolder home_banner_content">
                        <span class="d-block"> Cash on</span>
                        Delivery
                    </p>
                </div>
                <div class="d-flex align-items-center gap-2 px-3">
                    <img src="../../../assets/images/pages/home/easy_returns.svg" class="img-fluid border rounded-pill"
                        alt="Easy Return Image">
                    <p class="m-0 fw-bolder home_banner_content">
                        <span class="d-block">Easy</span>
                        Returns
                    </p>
                </div>
            </div>

            <a class="btn btn-default border-0 app_download_button mt-4"
                [href]="'https://play.google.com/store/apps/details?id=com.meesho.supply&pid=pow_website&c=pow&pow_click_page_type=HP&pow_distinct_id=189e496f1b8241-0cedd65e65cf93-26031c51-100200-189e496f1b986a&pli=1'"
                target="_blank">
                <img src="../../../assets/images/pages/home/play_store_logo.png" class="img-fluid pe-2"
                    alt="Playstore Logo">
                Download the Meesho App
            </a>
        </div>
        <div class="col-md-12 col-lg-6 px-0">
            <img src="../../../assets/images/pages/home/home_banner_1.webp" class="img-fluid object-fit-cover w-100 h-100"
                alt="Banner Image" />
        </div>
    </div>
</div>