.meesho_home_banner_heading {
    color: #353543;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}

.home_banner_content {
    font-size: 14px;
}

.app_download_button {
    background-color: #9F2089 !important;
    color: white !important;
    padding: 10px 28px;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'AR One Sans', "Helvetica Neue", sans-serif !important;
}